.user-container__navbar
  .user-container__navbar__box
    - if params[:controller] == "users" && params[:action] == "show"
      .user-container__navbar__box__picks
        %p Picks
    - else
      = link_to user_path(@user), class: "user-container__navbar__box__picks" do
        %p Picks
    - if params[:controller] == "users" && params[:action] == "following"
      .user-container__navbar__box__following-box
        .user-container__navbar__box__following-box__count
          = @user.following.count
        .user-container__navbar__box__following-box__caption
          %p フォロー
    - else
      = link_to following_user_path(@user), class: "user-container__navbar__box__following-box" do
        .user-container__navbar__box__following-box__count
          = @user.following.count
        .user-container__navbar__box__following-box__caption
          %p フォロー
    - if params[:controller] == "users" && params[:action] == "followers"
      .user-container__navbar__box__follower-box
        .user-container__navbar__box__follower-box__count
          = @user.followers.count
        .user-container__navbar__box__follower-box__caption
          %p フォロワー
    - else
      = link_to followers_user_path(@user), class: "user-container__navbar__box__follower-box" do
        .user-container__navbar__box__follower-box__count
          = @user.followers.count
        .user-container__navbar__box__follower-box__caption
          %p フォロワー
    .user-container__navbar__box__follow-box
      - if current_user.following.include?(@user)
        = form_for current_user.with_following(@user), method: :delete do |f|
          = f.submit "フォロー中", class: "user-container__navbar__box__follow-box__btn-blue"
      - else
        = form_tag '/relationships', method: :post do
          = hidden_field_tag :following_id, @user.id
          = submit_tag "フォロー", class: "user-container__navbar__box__follow-box__btn"
