- unless letter.max_like_comment_user.nil?
  .container__letter-container__individual-letter
    .container__letter-container__individual-letter__thumbnail
      = link_to letter_path(letter) do
        = image_tag letter.image, class: "container__letter-container__individual-letter__thumbnail__image"
        .container__letter-container__individual-letter__thumbnail__picks-box
          .container__letter-container__individual-letter__thumbnail__picks-box__size
            = letter.comments.length
          .container__letter-container__individual-letter__thumbnail__picks-box__picks
            Picks
    .container__letter-container__individual-letter__title
      %h2
        = link_to letter.title, letter_path(letter), class: "container__letter-container__individual-letter__title__font"
    .container__letter-container__individual-letter__user
      .container__letter-container__individual-letter__user__thumbnail
        = image_tag letter.max_like_comment_user.avatar, class: "container__letter-container__individual-letter__user__thumbnail__image"
      .container__letter-container__individual-letter__user__info
        .container__letter-container__individual-letter__user__info__name
          %h3
            = letter.max_like_comment_user.full_name
        .container__letter-container__individual-letter__user__info__profile
          %p
            = letter.max_like_comment_user.profile
    .container__letter-container__individual-letter__user-comment
      %p
        = letter.user_comment(letter.max_like_comment_user).content
    .container__letter-container__individual-letter__pickers
      - if letter.comments.length > 0
        - letter.comments.first(5).each do |comment|
          = image_tag comment.user.avatar, class: "container__letter-container__individual-letter__pickers__individual-picker"
