.container
  .container__user-area
    .container__user-area__user
      .container__user-area__user__thumbnail
        = image_tag "#", style: "width: 60px; height: 60px;"
      .container__user-area__user__name
        %h2 nagano
    .container__user-area__follow-info
      .container__user-area__follow-info__following
        .container__user-area__follow-info__following__count
          %p 21
        .container__user-area__follow-info__following__caption
          %p フォロー
      .container__user-area__follow-info__follower
        .container__user-area__follow-info__follower__count
          %p 32
        .container__user-area__follow-info__follower__caption
          %p フォロワー
  .container__letter-container
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .container__letter-container__individual-letter
      .container__letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .container__letter-container__individual-letter__title
        %h2 ニュースタイトル
      .container__letter-container__individual-letter__user
        .container__letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__user__info
          .container__letter-container__individual-letter__user__info__name
            %h3 名前
          .container__letter-container__individual-letter__user__info__profile
            %p プロフィール
      .container__letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .container__letter-container__individual-letter__pickers
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .container__letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
