.container
  .user-area
    .user-area__user
      .user-area__user__thumbnail
        = image_tag "#", style: "width: 60px; height: 60px;"
      .user-area__user__name
        %h2 nagano
    .user-area__follow-info
      .user-area__follow-info__following
        .user-area__follow-info__following__count
          %p 21
        .user-area__follow-info__following__caption
          %p フォロー
      .user-area__follow-info__follower
        .user-area__follow-info__follower__count
          %p 32
        .user-area__follow-info__follower__caption
          %p フォロワー
  .letter-container
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
    .letter-container__individual-letter
      .letter-container__individual-letter__thumbnail
        = image_tag "#", style: "width: 100%; height: 100px;"
      .letter-container__individual-letter__title
        %h2 ニュースタイトル
      .letter-container__individual-letter__user
        .letter-container__individual-letter__user__thumbnail
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__user__info
          .letter-container__individual-letter__user__info__name
            %h3 名前
          .letter-container__individual-letter__user__info__profile
            %p プロフィール
      .letter-container__individual-letter__user-comment
        %p ユーザーコメントの一部
      .letter-container__individual-letter__pickers
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
        .letter-container__individual-letter__pickers__individual-picker
          = image_tag "#", style: "width: 100%; height: 100%;"
