.container
  = render partial: "layouts/sidebar"
  .container__contents-area
    .container__contents-area__letter-image
      = link_to @letter.url do
        = image_tag @letter.image.presence || "default_letter_image.jpg", class: "container__contents-area__letter-image__thumbnail"
        .container__contents-area__letter-image__picks-box
          .container__contents-area__letter-image__picks-box__cover
            .container__contents-area__letter-image__picks-box__cover__size
              = @letter.comments.length
            .container__contents-area__letter-image__picks-box__cover__picks
              Picks
    .container__contents-area__letter-title
      = link_to @letter.title.truncate(40).presence || "No title", @letter.url, class: "container__contents-area__letter-title__font"
    .container__contents-area__meta
      .container__contents-area__meta__site-name
        = @letter.site_name.truncate(12).presence || "No site name"
      .container__contents-area__meta__time-ago
        = "#{time_ago_in_words(@letter.created_at)}前"
      .container__contents-area__meta__storage
        - if user_signed_in?
          - unless current_user.storage_letters.include?(@letter)
            = render partial: "letters/storage_btn"
          - else
            = render partial: "letters/storage_btn_red"
    .container__contents-area__read-more
      = link_to "続きを読む", @letter.url, class: "container__contents-area__read-more__btn"

  .container__news-comment
    - if user_signed_in? && @letter.user_comment(current_user).nil?
      .container__news-comment__pick-editor
        .container__news-comment__pick-editor__cover
          = image_tag current_user.avatar.presence || "default_avatar.jpeg", class: "container__news-comment__pick-editor__cover__avatar"
        = form_for [@letter, @comment] ,method: :create do |f|
          .container__news-comment__pick-editor__comment
            = f.text_field :content, class: "container__news-comment__pick-editor__comment__form", placeholder: "コメントを書く（任意）"
          .container__news-comment__pick-editor__pick
            = f.submit "Pick", class: "container__news-comment__pick-editor__pick__btn"
    .container__news-comment__comments
      - @comments.each do |comment|
        .container__news-comment__comments__individual
          .container__news-comment__comments__individual__user
            .container__news-comment__comments__individual__user__cover
              = link_to user_path(comment.user) do
                = image_tag comment.user.avatar.presence || "default_avatar.jpeg", class: "container__news-comment__comments__individual__user__cover__avatar"
            .container__news-comment__comments__individual__user__info
              .container__news-comment__comments__individual__user__info__name
                = link_to comment.user.full_name.presence || "No name", user_path(comment.user), class: "container__news-comment__comments__individual__user__info__name__font"
              .container__news-comment__comments__individual__user__info__created-at
                = time_ago_in_words comment.created_at
              - if current_user == comment.user
                = link_to "削除", letter_comment_path(@letter, comment), method: :delete, class: "container__news-comment__comments__individual__user__info__destroy", id: "comment-edit-btn"
          .container__news-comment__comments__individual__comment
            .container__news-comment__comments__individual__comment__content
              = comment.content
            .container__news-comment__comments__individual__comment__like-container
              .container__news-comment__comments__individual__comment__like-container__like-panel{id: "like-btn-#{comment.id}"}
                - if user_signed_in?
                  - unless comment.likes.exists?(user_id: current_user.id)
                    = render partial: "letters/like_btn", locals: { comment: comment }
                  - else
                    = render partial: "letters/like_btn_red", locals: { comment: comment }
                - else
                  = render partial: "letters/like_btn", locals: { comment: comment }
