!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NewsPipicks
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
    = javascript_include_tag  "jquery.bxslider.min.js"
    = javascript_include_tag  "jquery.autosize.min.js"
    = stylesheet_link_tag     "jquery.bxslider.css", rel: "stylesheet"
  %body
    = render partial: 'layouts/header'
    - flash.each do |type, msg|
      - if type == "notice" && msg.blank?
        = image_tag "logo.png", id: "logo"
      - else
        %div{class: "#{type}", id: "flash"}
          = msg
    = yield
    = render partial: 'layouts/footer'

